.component {
    --component-border-width: 1px;
    padding: 50px 20px 20px 20px;
    margin: 50px 20px;
    border: var(--component-border-width) solid var(--secondary);
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--primary);
    text-align: center;
    position: relative;

    transition: box-shadow 500ms ease-in-out;
    &:hover {
        box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.2);
    }
}

.component-title {
    position: absolute;
    top: calc(calc(1em + 10px + var(--component-border-width)) * -1);

    width: fit-content;
    padding: 5px;
    background-color: var(--primary);
    border: var(--component-border-width) solid var(--secondary);
    border-radius: 10px;
}