/*@import url('test.css');*/

:root {
    --text      : hsl(0, 0%, 20%);
    --background: hsl(0, 0%, 90%);
    --primary   : hsl(0, 0%, 80%);
    --secondary : hsl(0, 0%, 60%);
    --accent    : hsl(0, 0%, 20%);

    line-height: 1.6;
}
:root.dark {
    --text      : hsl(0, 0%, 90%);
    --background: hsl(0, 0%, 0%);
    --primary   : hsl(0, 0%, 20%);
    --secondary : hsl(0, 0%, 40%);
    --accent    : hsl(0, 0%, 100%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
}

body {
    padding: 0;
    margin: 0;

    font-family: 'Courier New', Courier, monospace;

    background-color: var(--background);
    color: var(--text);
}

header {
    height: 100px;
    background-color: var(--secondary);
    border-bottom: var(--accent) 3px solid;
    margin-bottom: 40px;
}

header img {
    float: left;
}

header nav {
    margin-right: 200px;
    height: 100%;
    
    font-weight: 600;

    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: end;
}

header .button {
    padding: 5px 10px;
    border: none;
    border-radius: 10px 10px 0 0;

    font-size: 1.5rem;
    background-color: var(--background);
    color: var(--text);

    &:hover {
        cursor: pointer;
    }

    &.active {
        --border-width: 3px;
        border: var(--accent) solid var(--border-width);
        border-bottom: var(--background) solid var(--border-width);


        position: relative;
        top: var(--border-width);
        z-index: 10;
    }
}

#content {
    padding: 0 20%;
}
