:root {
    --primary-color: whitesmoke;
    --secondary-color: hsl(60, 48%, 64%);
    --accent-color: hsl(174, 72%, 20%);
}

body {
    padding: 0;
    margin: 0;

    background-color: lightgoldenrodyellow;
}

header {
    background-color: var(--primary-color);
    height: 100px;
    border-bottom: black 1px solid;
}

header nav {
    height: 100%;

    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: end;
}

header .button {
    border: none;
    padding: 5px 10px;

    &:hover {
        cursor: pointer;
    }

    &.active {
        border: black solid 1px;
        border-bottom: white solid 1px;

        /* Due to the extra 1px border, it needs to be moved down 1px */
        position: relative;
        top: 1px;
        /* The border then overlaps with the <header> border */
        z-index: 10;
    }
}

#content {
    background-color: lightblue;
    margin: 100px auto;

    border-radius: 25px;
    width: 80%;
    padding: 20px;
}
